<div class="container">
  <h1>List of tickets</h1>
  <div class="row">
    <% @tickets.each do |ticket| %>
      <div class="card ticket-box">
        <div class="card-body">
          <p class="card-text"><%= ticket.description %></p>
          <p class="mb-2 text-muted">By <%= ticket.user.email %> - <%= ticket.created_at.strftime("%b %d %Y, %H:%M") %></p>
          <% if ticket.is_processed? %>
            <strong class="mb-2">Processed</strong>
          <% else %>
            <%= link_to "Manage", edit_ticket_path(ticket), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
