<div class="container">
  <h1>Send a new ticket</h1>
  <p>Please be as descriptive as possible, you <strong>won't</strong> be able to edit your ticket after you submit.</p>
  <%= render "form" %>
</div>
